[submodule "bundle-geode-1-app-perf_test_mysql-cluster-mysql"]
	path = bundle-geode-1-app-perf_test_mysql-cluster-mysql
	url = https://github.com/padogrid/bundle-geode-1-app-perf_test_mysql-cluster-mysql.git
[submodule "bundle-geode-1-docker-debezium_kafka"]
	path = bundle-geode-1-docker-debezium_kafka
	url = https://github.com/padogrid/bundle-geode-1-docker-debezium_kafka.git
